:root {
  --main: #31343a;
}

@font-face {
  font-family: 'pixel-chinese';
  src: url("/public/fonts/fz24.ttf");
}


body {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  font-family: pixel-chinese;
}

.counter-container {
  background-image: url("../images/bg.jpg"  );
  background-color: var(--main);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:100% 100%;
}

@media screen and (min-width: 480px) {
  .counter {
    font-weight: 500;
    font-size: 1000%;
    letter-spacing: -5px;
    color: whitesmoke;
  }
}

@media screen and (max-width: 480px) {
  .counter {
    font-weight: 500;
    font-size: 32px;
    /* letter-spacing: -5px; */
    color: whitesmoke;
  }
}