:root {
  --main: #31343a;
}

@font-face {
  font-family: 'pixel-chinese';
  src: url("../fonts/fz24.TTF") format("truetype");
}


body {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  font-family: pixel-chinese;
}

.counter-container {
  flex: 1 0 100%; /* explanation below */
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url("../images/bg.jpg"  );
  background-color: var(--main);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:100% 100%;
}

.counter {
  color: whitesmoke;
  padding-bottom: 150px;
}

@media screen and (min-width: 480px) {
  .counter {
    font-weight: 500;
    font-size: 1000%;
    letter-spacing: -5px;
  }
}

@media screen and (max-width: 480px) {
  .counter {
    font-weight: 500;
    font-size: 32px;
  }
}